<!DOCTYPE html>
<html>
  <head>
    <title>SaasAppv2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-black">
  <%= render 'layouts/navigation/header' %>
  <%= render 'layouts/navigation/sidebar' %>
  
    <%= yield %>
   
  </body>
</html>
